{% extends 'Usuarios/base_admin.html' %}

{# se carga head #}
{% block title %}
     Roles de Sistema
{% endblock %}

{# body #}
{% block content %}
     <div class="centered">
     <h2>Administracion de Roles de Sistema</h2>
     <br/>
     <div class="attention">
         <h3>Operaciones disponibles</h3>
         <ul>
             <li>
               Crear Nuevo rol
             </li>
             <li>
                 Modificar rol existente
             </li>
             <li>
                 Listar roles disponibles
             </li>
         </ul>
     </div>
     <br/>
     <div class="attention">
         <h4>Observacion:</h4>
         <p>Navegue por la barra de Roles de Sistema para acceder a las opciones </p>
     </div>

     </div>
{% endblock %}
